html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

strong {
  text-decoration: underline;
  font-weight: 700;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#container {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  position: relative;
}

.w960 {
  margin: 0px auto;
  max-width: 96.0em;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .w960 {
    padding: 0em 2.0em;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  font-family: 'Courier New', 'Courier', monospace;
}


h1, h2, h3, h4, h5, h6 {
  width: 100%;
  text-align: center;
}

h1 {
  font-family:  Didot, 'Didot LT STD', 'TheanoDidotRegular', Arial, sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 8em;
  margin: 1em 0;
  color: red;
  text-transform: uppercase;
}

h2 {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 4em 0;
  text-transform: uppercase;
}

.nav {
  font-size: 1.4em;
  margin: 4em;
  text-align: center;
}

.nav li {
  display: inline-block;
  padding: 0.7em;
}

.nav a {
  color: black;
}

.nav a .hash {
  text-decoration: none;
}

.x {
  padding-top: 7em;
  width: 100%;
  text-align: center;
}

.tag, .contact {
  width: 100%;
  text-align: center;
}

.lic {
  width: 100%;
  text-align: center;
}

.phone {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
  padding: 1em;
}

.est {
  width: 100%;
  text-align: center;
}

.photos {
  text-align:center;
  width: 100%;
}

.polaroid {
  background-image: url(/images/frame.png);
  background-repeat: no-repeat;
  width: 564px;
  height: 556px;
  position: relative;
  margin: 3em auto;
  left: -22px;
  display: inline-block;
}

.polaroid .crop {
  position: absolute;
  top: 21px;
  left: 66px;
  width: 479px;
  height: 466px;
  overflow: hidden;
}

.polaroid .crop img {
  height: 466px;
}

.polaroid .caption {
  position: absolute;
  top: 21px;
  left: 580px;
  height: 400px;
  width: 98px;
  font-size: 1.3em;
  line-height: 1.6em;
}

#footer {
  padding: 4em 0 4em 0;
  width: 100%;
}

.social {
  text-align: center;
}

.social li a {
  margin: 2em 0.4em;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 9px 0 0 0px;
}

.social li {
  display: inline-block;
  background: none;
}

.facebook {
  background-color: #3c579d;
}

.twitter {
  background-color: #48c8f2;
}

.instagram {
  background-color: #32628a;
}

form {
  width: 600px;
  margin: 2em auto;
}

form .field {
  padding: 0.8em 0;
}

form label {
  display: block;
  float: none;
}

form input, form textarea {
  width: 100%;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #efefef;
}

form .ss-choices {
  margin-top: 1em;
}

form .ss-choices label {
  display: inline-block;
}
form .ss-choices input {
  width: 1em;
}

form .csz {
  width: 100%;
}

form .csz .city {
  display: inline-block;
  width: 52%;
}

form .csz .state {
  display: inline-block;
  width: 20%;
}

form .csz .zip {
  display: inline-block;
  width: 24%;
}

#complete {
  text-align: center;
}

#ss-submit {
  margin: 1em auto;
  width: 200px;
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0.8em;
  border: 1px solid black;
  background: none;
}
